<div class="container">
        <div class="menu">
                <ul>
                        <li>
                                <a [routerLink]="['/']">Home</a>
                        </li>

                        <li>
                                <a [routerLink]="['/about']">about</a>
                        </li>
                        <li>
                                <a [routerLink]="['/personinfo/add']">add</a>
                        </li>
                       
                        <li>
                                <a [routerLink]="['/personinfo/list']">list</a>
                        </li>
                        <li>
                                <a [routerLink]="['/personinfo/edit']">edit</a>
                        </li>
                </ul>
        </div>

</div>
<router-outlet>

</router-outlet>